* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 2000px;
}
.test-hperc {
    height: 100%;
    background-color: rebeccapurple;
}

.test-vh {
    height: 50vh;
    width: 50vw;
    background-color: rebeccapurple;

}

.test-block {
    background-color: blue;
    height: 200px;
}

.test-100vw {
    background-color: blueviolet;
    width: 100vw;
    height: 200px;
}
