* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-boxes {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 8 - 12px);
    margin: 6px;
    height: 100px;
    background-color: teal;
}

.box.box-red {
    background-color: red;
}

.box.box-black {
    background-color: black;
    color: #fff;
}