.block-colored {
    height: 200px;
    background-color: teal;
    border: 1px #333 solid;
}

.main {
    background-color: tomato;
    height: 300px;
}

.sidebar {
    background-color: brown;
    color: #fff;
    height: 300px;
}

/* ------------------- */

.box-ex {
    background: blue;
    height: 100px;
    border:1px #fff solid;
    padding: 10px;
    color: #fff;
}


.box-ex > .row {
    height: 100%;
}

.text-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-ex > .row > div {
    background-color: green;
    color: #fff;
    height: 100%;
    border: 1px blue solid;
}