* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#campominato-container {
    display: flex;
    flex-wrap: wrap;
}

/* La larghezza di campominato-container dipende dal numero di celle (numero livello) */

#campominato-container.livello-1 {
    width: 500px;
}

#campominato-container.livello-2 {
    width: 450px;
}

#campominato-container.livello-3 {
    width: 350px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px #333 solid;
}

.cell.red {
    background-color: red;
}

.cell.blue {
    background-color: blue;
}

.game-over {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 100vh;
    text-align: center;
    color: #fff;
}

.game-over.loser {
    background-color: rgba(255, 0, 0, .5);
}


.game-over.winner {
    background-color: rgba(0, 200, 0, .5);
}