* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    background: #eee;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

p.code {
    margin: 5px 0;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container {
    display: flex;
}

[class*="container"] {
    margin: 10px 0;
    border: 2px #333 solid;
}

h2 {
    margin-top: 40px;
}
h2:first-child {
    margin-top: 0;
}

[class^="item"] {
    width: 150px;
    height: 150px;
    background-color:steelblue;
    border: 2px #333 solid;
    color:#fff;
    font-weight: bold;
    font-size: 32px;
    line-height: 150px;
    text-align: center;
}

.item-small {
    height: 50px;
}

.item-medium {
    height: 90px;
}

.item-large {
    width: 250px;
    height: 250px;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.container-justify-start {
    display: flex;
    justify-content: flex-start;
}

.container-justify-end {
    display: flex;
    justify-content: flex-end;
}

.container-justify-column-end {
    display: flex;
    height: 700px;
    justify-content: flex-end;
    flex-direction: column;
}

.container-row-reverse {
    display:flex;
    flex-direction: row-reverse;
}

.container-row-reverse-end {
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.container-row-align-end {
    height: 700px;
    display: flex;
    align-items: flex-end;
}

.container-column-align-end {
    height: 700px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.container-column-align-end-justify-end {
    height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.container-row-space-between {
    display: flex;
    justify-content: space-between;
}

.container-row-space-around {
    display: flex;
    justify-content: space-around;
}

.container-column-space-between {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-row-center {
    display: flex;
    justify-content: center;
}

.item-margin {
    margin: 0 15px;
}

.container-row-items-center {
    display: flex;
    align-items: center;
}

.container-row-baseline {
    display: flex;
    align-items: baseline;
}

.flex-container-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-flex-wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex-container-item-centered {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-grow {
    flex-grow: 1;
}

.item-grow-x2 {
    flex-grow: 2;
}


.item-first {
    order: 1;
}

.item-second {
    order: 2;
}

.item-third {
    order: 3;
}